* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#main {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 7px;

    box-shadow: 0px 0px 20px rgb(75, 75, 75);
    font-size: xx-large;
    font-weight: 700;
    border: solid;
    border-radius: 1rem;
    width: 300px;
    height: 500px;
    padding: 5px;
    background-color: rgb(255, 255, 203);

}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 1rem;
    background-color: rgb(201, 255, 92);
}

#main>div:hover {
    cursor: pointer;
    background-color: rgb(157, 211, 48);
}


#screen {
    /* justify-content: right; */
    background-color: rgb(220, 252, 157);
    grid-column: 1/5;
}

#equal {

    grid-column: 4;
    grid-row: 3/7;
}